<script>
  /*
  ============================================
  ; Title:  exercise-3.2
  ; Author: tiffany baker
  ; Date:   1/24/2021
  ; Modified By: Tiffany Baker
  ; Description: a node exercise displaying a message in local host.
  ;===========================================
  */

  //header display
  const header = require('../baker-header.js');
  console.log(header.display("Tiffany", "Baker", "exercise-3.2"));

  /*
   Expected output:
   FirstName LastName
   <AssignmentName>
   <Today's Date>


   basic html for local host view

  */

  //START

  </script>

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title></title>

    <!---- stylesheet - bootstrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  </head>

  <!--nav bar-->
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a href="#" class="nav-link">Home</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link">Contact Us</a>
      </li>
    </ul>
  </nav>

  <!--div for pulling message-->
<div class="container" role="main">
  <br>
  <h2><%= message %></h2>

</div>
</html>
